canvas {
    display: block;
    margin: 0 auto;
    background: linear-gradient(to top, #432e20, #8b4513);
}

#slider {
    display: block;
    margin: 20px auto;
}
body{
    background-image: url('images/img_2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

@media only screen and (max-width: 600px) {
    canvas {
        width: 100%;
        height: auto;
    }

    h1{
        color: white;
    }

    #slider {
        width: 90%;
        margin: 10px auto;
    }

    body {
        background-size: cover;
    }
}

/* Ajout d'une règle pour les petits écrans */
@media only screen and (max-width: 390px) {
    body {
        background-size: cover;
        font-size: 14px; /* Réduire la taille de la police si nécessaire */
    }

    canvas {
        width: 100%;
        height: auto;
    }

    #slider {
        width: 90%;
        margin: 10px auto;
    }

    h1 {
        font-size: 18px; /* Ajuster la taille du texte */
        color: white;
    }
}